{% extends 'base.html.twig' %}

{% block title %}Hello EmployeesRecordsAccessController!
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="employeesRecords-container">
            <div class="employeesRecords-container__table-employees-records-container">
				<div class="row">
					<div class="col-md-6">
						<div class="employeesRecords-main-container__employees-records-table-container">
							<table class="table table-hover">
								<thead class="table-dark">
									<tr>
										<th>
											NickName
										</th>
										<th>
											Rol
										</th>
										<th>
											Department
										</th>
										<th>
											Salary
										</th>
										<th>
											Credentials
										</th>
									</tr>
								</thead>
								{% for employeeRecord in employeesRecords %}
									<tbody>
										<tr class="table-active" >
											<td>
												{{employeeRecord.nickName}}
											</td>
											<td>
												{{employeeRecord.Rol}}
											</td>
											<td>
												{{employeeRecord.Department}}
											</td>
											<td>
												{{employeeRecord.Salary}}
											</td>
											<td>
												{{employeeRecord.Credentials}}
											</td>
										</tr>
									</tbody>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="home-page-main-container__nav-container ">
				<ul class="nav ">
					<li class="nav-item">
						<a class="nav-link active home-page-main-container__ancore-register" aria-current="page" href="{{path("home")}}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link home-page-main-container__ancore-register" href="{{path("app_login")}}">Sign In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link home-page-main-container__ancore-register" href="{{path("employee_register")}}">Create Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link home-page-main-container__ancore-register" href="{{path("employees_records_access")}}" tabindex="-1" aria-disabled="true">Admin</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
{% endblock %}
